<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/addMember.css">
    <title>Edit Member</title>
</head>
<body>
    <nav class="navigation">
        <h1><%= nama %></h1>
        <a href="/homeAdmin">Home</a>
        <a href="/manageMember">Manage Members</a>
        <a href="/">Log out</a>
    </nav>
    <h1 class="add-member-title">
        Edit data Faisal Surya
    </h1>
    <div class="form">
        <div class="form-inner">
            <div class="form-inner">
                <form class="" method="" action="/editDataMember">
                    <div class="form-input">
                        <label for="email" class="">Nama :</label>
                        <input type="email" name="email" id="email" class="" placeholder="Nama" required="">
                    </div>
                    <div class="form-input">
                        <label for="email" class="">Username :</label>
                        <input type="email" name="email" id="email" class="" placeholder="Username" required="">
                    </div>
                    <div class="form-input">
                        <label for="email" class="">Alamat :</label>
                        <input type="email" name="email" id="email" class="" placeholder="Alamat" required="">
                    </div>
                    <div class="alamat">
                        <div class="dropdown">
                            <label for="email" class="">Kelurahan :</label>
                            <select name="filter-kel" id="filter-kel" class="">
                                <option value="">Kelurahan</option>
                                <option value="" class="">10</option>
                                <option value="" class="">11</option>
                                <option value="" class="">12</option>
                                <option value="" class="">13</option>
                                <option value="" class="">14</option>
                            </select>
                        </div>
                        <div class="dropdown">
                            <label for="email" class="">Kecamatan :</label>
                            <select name="filter-kec" id="filter-kec" class="">
                                <option value="">Kecamatan</option>
                                <option value="" class="">10</option>
                                <option value="" class="">11</option>
                                <option value="" class="">12</option>
                                <option value="" class="">13</option>
                                <option value="" class="">14</option>
                            </select>
                        </div>
                        <div class="dropdown">
                            <label for="email" class="">Kota :</label>
                            <select name="filter-kota" id="filter-kota" class="">
                                <option value="">Kota</option>
                                <option value="" class="">10</option>
                                <option value="" class="">11</option>
                                <option value="" class="">12</option>
                                <option value="" class="">13</option>
                                <option value="" class="">14</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="member">Save</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>