<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/history.css">
    <title>History</title>
</head>
<body>
    <nav class="navigation">
        <h1>Halo, <%= nama %></h1>
        <a href="/homePelanggan">Home</a>
        <a href="">Check out</a>
        <a href="">Log out</a>
    </nav>
    <section class="container filter history">
        <div class="filter">
            <form action="/history" class="">
                <div class="">
                    <input name="start" type="date" class="" placeholder="Select date start">
                </div>
                <span class="">to</span>
                <div class="">  
                    <input name="end" type="date" class="" placeholder="Select date end">
                </div>
                <div class="">
                    <button type="submit" class="">Search</button>
                </div>
            
            </form>
        </div>
    </section>
    <section class="table">
        <table class="">
            <thead class="">
                <tr class="">
                    <th class="">ID Transaksi</th>
                    <th class="">Tanggal Transaksi</th>
                    <th class="">Nomor Meja</th>
                    <th class="">Total Harga</th>
                    <th class="">Jumlah Tiket</th>
                </tr>
            </thead>
            <tbody class="">
                <tr>
                    <td>ABC123</td>
                    <td>5 Mei 2023</td>
                    <td>1</td>
                    <td>150.000</td>
                    <td>3</td>
                </tr>                        
            </tbody>
        </table>
    </section>
</body>
</html>