<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/output.css">
    <title>Home Admin</title>
</head>
<body>
    <div class="bg-gradient-to-br from-[#110F10] to-[#FF0091] bg-fixed bg-cover">
<!-- user & logout -->
        <div class="flex flex-row justify-between items-center w-auto px-4 py-4 mx-8 rounded-md text-white bg-[#f5f5f2] backgdrop-blur-md bg-opacity-50">
            <h1 class="text-xl font-bold">
                Admin
            </h1>
            <a>Laporan</a>
            <a>Manage Members</a>
            <a>Log out</a>
        </div>

<!-- main content -->
        <div class=" mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <div class="flex justify-between items-center mb-10">
                <h2 class="text-2xl font-bold tracking-tight text-white">Meja Tersedia :</h2>
<!-- dropdown jam dan meja -->
                <form class="inline-flex">
                    <select name="filter-jam" id="filter-jam" class="mx-2 text-white shadow-3xl bg-[#f5f5f2] backgdrop-blur-md bg-opacity-50 rounded-md px-2 py-2">
                        <option value="" selected disabled class="text-black">Jam</option>
                    </select>

                    <select name="filter-meja" id="filter-meja" class="mx-2 text-white shadow-3xl bg-[#f5f5f2] backgdrop-blur-md bg-opacity-50 rounded-md px-2 py-2">
                        <option value="" selected disabled class="text-black">Meja</option>
                    </select>

                    <button type="submit" value="cari" class="mx-1 flex items-center justify-center shadow-3xl bg-black text-white font-semibold text-md px-4 py-2 rounded-md hover:cursor-pointer hover:bg-black/90"> 
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </button>

                    <a type="button" class="mx-1 flex items-center justify-center shadow-3xl bg-black text-white font-semibold text-md px-4 py-2 rounded-md hover:cursor-pointer hover:bg-black/90">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                        </svg>                          
                    </a>
                    <a class="mx-1 flex items-center justify-center shadow-3xl bg-black text-white font-semibold text-md px-4 py-2 rounded-md hover:cursor-pointer hover:bg-black/90"> 
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>                                               
                    </a>
                </form>
            </div>  
            
            
<!-- card meja -->
            <div class="py-4 px-4 h-screen">                
                <div id="meja-container" class=" mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
                    <div id="meja" class="group relative shadow-3xl bg-[#f5f5f2] backgdrop-blur-md bg-opacity-50 rounded-md px-2 py-2">
                        <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none transition transition-duration-150  lg:h-80">
                            <img alt="gambar meja" src="https://cdn.pixabay.com/photo/2012/04/14/15/50/pool-table-34356__480.png" alt="Meja Tersedia" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        </div>
                        <div class="mt-8 flex justify-between flex-col">
                            <div class="flex justify-between text-white">
                                <div>
                                    <h1 class="font-bold">
                                        Meja
                                    </h1>
                                </div>
                                <p class="text-lg font-semibold ">Rp.50.000</p>
                            </div>
                            <a class="w-full text-center bg-black hover:bg-black/90 rounded-lg py-2 mt-4 font-semibold text-white">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-4 px-4 h-screen">                
                <div id="meja-container" class=" mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
                    <div id="meja" class="group relative shadow-3xl bg-[#f5f5f2] backgdrop-blur-md bg-opacity-50 rounded-md px-2 py-2">
                        <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none transition transition-duration-150  lg:h-80">
                            <img alt="gambar meja" src="https://cdn.pixabay.com/photo/2012/04/14/15/50/pool-table-34356__480.png" alt="Meja Tersedia" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        </div>
                        <div class="mt-8 flex justify-between flex-col">
                            <div class="flex justify-between text-white">
                                <div>
                                    <h1 class="font-bold">
                                        Meja
                                    </h1>
                                </div>
                                <p class="text-lg font-semibold ">Rp.50.000</p>
                            </div>
                            <a class="w-full text-center bg-black hover:bg-black/90 rounded-lg py-2 mt-4 font-semibold text-white">Edit</a>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</body>
</html>