<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/laporan.css">
    <script src="pagination.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Laporan</title>
</head>
<body>
    <nav class="navigation">
        <h1><%= nama %></h1>
        <a href="/homeAdmin">Home</a>
        <a href="/manageMember">Manage Members</a>
        <a href="/">Log out</a>
         
    </nav>
    <section class="container filter">
        <div class="filter">
            <h2 class="">Laporan :</h2> 
<!-- dropdown jam dan meja -->
            <form action="/filter" method="get" class="">
                <select name="filter-jam" id="filter-jam" class="">
                    <option value="" selected disabled class="text-black">Kelurahan</option>
                </select>
                <select name="filter-meja" id="filter-meja" class="">
                    <option value="" selected disabled class="">Kecamatan</option>
                </select>
                <select name="filter-meja" id="filter-meja" class="">
                    <option value="" selected disabled class="">Kota</option>
                </select>

                <button type="submit" value="cari" class=""> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                </button>

                <a href="/homeAdmin" type="button" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                    </svg>                          
                </a>
            </form>
        </div>
    </section>
    <section class="table member">
        <table class="">
            <thead class="">
                <tr class="">
                    <th class="">No</th>
                    <th class="">IDTransaksi</th>
                    <th class="">Nama</th>
                    <th class="">Username</th>
                    <th class="">Action</th>
                </tr>
            </thead>
            <tbody class="">
                    <tr>
                        <td class="">1</td>
                        <td class="">ABC123</td>
                        <td class="">Faisal Surya</td>
                        <td class="">faisal</td>
                        <td class="action-btn">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                </svg> 
                            </a>
                        </td>
                    </tr>                   
            </tbody>
        </table>
    </section>
    <!--Pagination-->

    <div class="pagination">
        <ul>
          <li class="btn prev" onclick="createPagination(totalPages, 4)">
              <span>
                  <i class="fas fa-angle-left">Prev</i>
              </span>
          </li>
          <li class="first numb" onclick="createPagination(totalPages, 1)">
              <span>1</span>
          </li>
          <li class="dots">
              <span>...</span>
          </li>
          <li class="numb" onclick="createPagination(totalPages, 4)">
              <span>4</span>
          </li>
          <li class="numb active" onclick="createPagination(totalPages, 5)">
              <span>5</span>
          </li>
          <li class="numb" onclick="createPagination(totalPages, 6)">
              <span>6</span>
          </li>
          <li class="dots">
              <span>...</span>
          </li>
          <li class="last numb" onclick="createPagination(totalPages, 10)">
              <span>10</span>
          </li>
          <li class="btn next" onclick="createPagination(totalPages, 6)">
              <span>
                  <i class="fas fa-angle-right">Next</i>
              </span>
          </li>
        </ul>
      </div>

</body>
</html>