<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/homePelanggan.css">
    <title>Pembayaran</title>
</head>
<body>
    <nav class="navigation">
        <h1>Welcome, <%= nama %></h1>
        <a href="/homeMember">Home</a>
        <a href="/">Log out</a>
      </nav>
</body>
</html>